$color1 : #c8d6e5;
$color2 : #222f3e;
$color3 : #10ac84;

.shipping {
    padding: 1rem;
    text-align: center;
    position: relative;
    
    > h1{
        text-transform: uppercase;
        font-weight: 600;
    }
    >form {
        margin-top: 1.5rem;
        @include flex(column, center, center, 2rem);
        >  input{
            padding: 12px;
            width: 35%;
            outline: none;
        }
        >select{
            width: 35%;
            padding: 12px;
        }
        > button {
            padding: 12px;
            width: 35%;
            border-radius: 25px;
            outline: none;
            border: none;
            background-color: $color3;
            font-weight: 600;
            color: white;
            text-transform: uppercase;
            cursor: pointer;

            &:hover{
                background-color: #097f62;
            }
        }
    }
   
 
}