*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  padding: 1rem;
}

button{
  border: none;
  outline: none;
  background-color: teal;
  color: white;
  padding: 1rem;
  margin-right: 30px;
}